/* 
============
Variables
============
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}
/* 
============
Global Styles
============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fira Code', monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
}
/* 
==============
navbar
==============
*/

.navbar {
  background: var(--darkGrey);
}

.nav-list {
  list-style-type: none;
}

.nav-list a {
  color: var(--primaryColor);
  display: block;
  padding: 1rem 0.5rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  transition: var(--mainTransition);
}

.nav-list li:hover a {
  color: var(--mainBlack);
}

@media screen and (min-width: 992px) {
  .nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .nav-list a {
    text-align: center;
  }
}

/* 
================
hero
================
 */

.hero {
  background: var(--primaryColor);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--mainWhite);
}

.hero-info p {
  font-size: 1rem;
  max-width: 36rem;
}

@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(241, 80, 37, 0.8), rgba(0, 0, 0, 0.7)),
      url(./images/image-2.jpeg) center/cover no-repeat;
  }

  .hero-info h1 {
    font-size: 4rem;
  }
}

/* 
================
cards
================
 */

.cards {
  padding: 2rem 0;
}

.cards-section {
  width: 80vw;
  margin: 0 auto;
  max-width: 1170px;
}

.cards h1 {
  font-size: 2.8rem;
  text-align: center;
}

.single-card {
  border: 1px solid var(--mainBlack);
  margin-bottom: 1rem;
}

.single-card h3 {
  padding: 1rem 1rem 0rem 1rem;
}

.single-card p {
  width: 95%;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.cards-social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: var(--darkGrey);
  color: var(--primaryColor);
  justify-items: center;
  padding: 0.5rem;
}

@media screen and (min-width: 768px) {
  .cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 1170px) {
  .cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

/* 
.cards-section {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
} */

/* 
================
tiles
================
 */
.tiles {
  padding-top: 3rem;
}

.tiles-title {
  text-align: center;
  padding: 1rem;
}

.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.tiles img {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .tiles-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    row-gap: 2rem;
    grid-template-areas:
      'a a a b'
      'a a a c'
      'd d d d'
      'e f f f'
      'e g h i';
  }

  .tiles img {
    height: 100%;
    object-fit: cover;
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }
  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }
  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
}
/* 
================
layout
================
 */

.banner {
  background: var(--primaryColor);
  text-align: center;
  color: var(--mainWhite);
  padding: 0.5rem 0;
}

.layout-nav {
  list-style-type: none;
  background: var(--darkGrey);
}

.layout-nav a {
  color: var(--mainBlack);
  font-size: 1.25rem;
  text-transform: capitalize;
  display: inline-block;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

.layout-nav a:hover {
  color: white;
}

.layout-info {
  padding: 2rem;
}

.layout-info p {
  font-size: 1rem;
  padding-bottom: 8rem;
}

.sidebar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background: var(--primaryColor);
  padding: 1rem;
  font-size: 1.25rem;
  color: var(--offWhite);
}
.footer p {
  background: var(--mainBlack);
  font-size: 1.25rem;
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem 0;
  text-transform: capitalize;
}

.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
}

@media screen and (min-width: 768px) {
  .layout-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 992px) {
  .main {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      'header header header'
      'navbar content sidebar'
      'footer footer footer';
  }
  .banner {
    grid-area: header;
  }
  .layout-nav {
    grid-area: navbar;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2.25rem;
  }

  .layout-info {
    grid-area: content;
  }

  .sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    background: var(--darkGrey);
    align-items: center;
  }

  .footer {
    grid-area: footer;
  }
}
